Repository Sec-ant/barcode-detector: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: fix README
  README.md
Due: prettier --write

chore: add web worker tests
  package.json
  tests/barcode-detector.spec.ts
  tests/consts.ts
  tests/helpers.ts
  tests/index.html
  tests/utils/areCats.ts
  tests/utils/areCatsAndDogs.ts
  tests/utils/drawImageToCanvas.ts
  tests/utils/getBlob.ts
  tests/utils/getCanvas.ts
  tests/utils/getDomImageBitmap.ts
  tests/utils/getDomOffscreenCanvas.ts
  tests/utils/getHtmlImage.ts
  tests/utils/getIframeBlob.ts
  tests/utils/getIframeCanvas.ts
  tests/utils/getIframeHtmlImage.ts
  tests/utils/getIframeImageBitmap.ts
  tests/utils/getIframeImageData.ts
  tests/utils/getIframeOffscreenCanvas.ts
  tests/utils/getIframeSvgImage.ts
  tests/utils/getIframeVideo.ts
  tests/utils/getIframeVideoFrame.ts
  tests/utils/getImageBitmap.ts
  tests/utils/getImageData.ts
  tests/utils/getOffscreenCanvas.ts
  tests/utils/getSvgImage.ts
  tests/utils/getVideo.ts
  tests/utils/getVideoFrame.ts
  tests/utils/messageData.ts
  tests/utils/seekTo.ts
  tests/worker.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update tests
  package.json
  pnpm-lock.yaml
  tests/barcode-detector.spec.ts
  tests/consts.ts
  tests/polyfill.spec.ts
  tests/resources/cats-dogs.png
  tests/resources/cats-dogs.webm
  tests/resources/zero-size.svg
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update tests
  tests/polyfill.spec.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix typo
  tests/barcode-detector.spec.ts
  tests/utils/getDomImageBitmap.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: change vite server from localhost to 127.0.0.1
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: update tests
  tests/barcode-detector.spec.ts
  tests/utils/getIframeVideo.ts
  tests/utils/getVideo.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: add test workflow
  .github/actions/setup/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore: fix playwright install command
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: add firefox for testing
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix playwright install firefox
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(tests): add webkit browser, skip 0x0 sized image tests for it
  tests/barcode-detector.spec.ts
  tests/utils/getCanvas.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: playwright install webkit
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: playwright with deps
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove webkit temporarily
  package.json
  tests/barcode-detector.spec.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump deps
  README.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add changeset
  .changeset/dull-dogs-boil.md
Due: prettier --write

chore: add channel branch to release workflow
  .github/workflows/release.yml
Due: prettier --write

chore: add test:ci command
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update changelog format
  CHANGELOG.md
Due: prettier --write

Version Packages (#148)
  .changeset/dull-dogs-boil.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps (#151)
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v2.1.0 and other deps
  .changeset/grumpy-years-invent.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: disable flaky firefox tests
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): v3.0.1 (#156)
  .changeset/grumpy-years-invent.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: fix scripts
  .lintstagedrc.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

feat(barcode): add parameters support to BarcodeDetector and related tests
  src/core.ts
  tests/barcode-detector.spec.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-wasm to v2.1.1 along with other deps. re-enable firefox tests. add a simple dev page.
  .changeset/cool-nails-drive.md
  index.html
  main.ts
  package.json
  pnpm-lock.yaml
  public/barcode-detector.png
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: enable dangerouslyIgnoreUnhandledErrors in test configuration
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): v3.0.2 (#175)
  .changeset/cool-nails-drive.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: unexpected `new URL(..., import.meta.url)` expansion
  .changeset/fresh-crews-turn.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: unexpected `new URL(..., import.meta.url)` expansion (#177)
  .changeset/fresh-crews-turn.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v3.0.3 (#178)
  .changeset/fresh-crews-turn.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: pin zxing-wasm version to prevent unexpected updates
  .changeset/lazy-hotels-appear.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v3.0.4 (#179)
  .changeset/lazy-hotels-appear.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v2.2.0 with some bug fixes
  .changeset/many-waves-admire.md
  biome.json
  package.json
  pnpm-lock.yaml
  scripts/build-cjs.ts
  scripts/build-iife.ts
  src/core.ts
  src/index.ts
  src/polyfill.ts
  src/utils.ts
  src/zxing-exported.ts
  tests/barcode-detector.spec.ts
  tests/polyfill.spec.ts
  tests/utils/getSvgImage.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,cts,mts,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier --write: any of: *.{md,yml,yaml,css,html}
