Repository Sec-ant/barcode-detector: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,cts,mts,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore(ci): fix publish config
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump `zxing-wasm` to `v1.2.4`
  .changeset/cuddly-readers-grow.md
  .codesandbox/ci.json
  package-lock.json
  package.json
  scripts/prepare.sh
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: npm scripts
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: upgrade zxing-wasm from 1.2.4 to 1.2.5
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-wasm to v1.2.7
  .changeset/olive-poets-design.md
  biome.json
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v1.2.10
  .changeset/heavy-pans-travel.md
  .codesandbox/ci.json
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  scripts/prepare.sh
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm and other dependencies
  .changeset/many-toes-melt.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump `zxing-wasm` and switch to `pnpm`, `renovate`
  .changeset/silver-rules-march.md
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .gitignore
  .node-version
  .nvmrc
  biome.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump `zxing-wasm` and switch to `pnpm`, `renovate` (#94)
  .changeset/silver-rules-march.md
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .gitignore
  .node-version
  .nvmrc
  biome.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(codabar): preserve start and end control chars
  .changeset/cyan-dogs-talk.md
  src/BarcodeDetector.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(codabar): preserve start and end control chars (#100)
  .changeset/cyan-dogs-talk.md
  src/BarcodeDetector.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update changeset
  .changeset/cyan-dogs-talk.md
Due: prettier --write

chore(release): v2.2.8 (#96)
  .changeset/cyan-dogs-talk.md
  .changeset/silver-rules-march.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: clean up
  .ncurc.cjs
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(scripts): minor cleanup
  .simple-git-hooks.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): pin `pnpm/action-setup`
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
Due: prettier --write

fix: detecting HTML elements from iframes
  .changeset/forty-balloons-film.md
  package.json
  pnpm-lock.yaml
  src/utils.ts
  tests/barcode-detection.spec.ts
  tests/helpers.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: detecting HTML elements from iframes (#111)
  .changeset/forty-balloons-film.md
  package.json
  pnpm-lock.yaml
  src/utils.ts
  tests/barcode-detection.spec.ts
  tests/helpers.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.2.9 (#112)
  .changeset/forty-balloons-film.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v1.2.14
  .changeset/fresh-seals-clap.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.2.10 (#116)
  .changeset/fresh-seals-clap.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: image bitmap source type detection across iframes
  .changeset/rich-cougars-laugh.md
  package.json
  pnpm-lock.yaml
  src/utils.ts
  tests/barcode-detection.spec.ts
  tests/helpers.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: small cleanup
  src/BarcodeDetector.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: image bitmap source type detection across iframes (#118)
  .changeset/rich-cougars-laugh.md
  package.json
  pnpm-lock.yaml
  src/BarcodeDetector.ts
  src/utils.ts
  tests/barcode-detection.spec.ts
  tests/helpers.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.2.11 (#119)
  .changeset/rich-cougars-laugh.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.2.12 (#128)
  .changeset/cold-cheetahs-fix.md
  .changeset/shy-flowers-raise.md
  .changeset/thick-seahorses-repeat.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add `databar_limited` detection support
  .changeset/serious-chicken-shop.md
  README.md
  package.json
  pnpm-lock.yaml
  src/utils.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update changelog
  .changeset/serious-chicken-shop.md
Due: prettier --write

chore(release): v2.3.0 (#129)
  .changeset/serious-chicken-shop.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump zxing-wasm to v1.3.4 to fix PDF417 position info
  .changeset/fuzzy-ears-buy.md
  .npmrc
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: cleanup
  .npmrc
  README.md
Due: prettier --write

chore(release): v2.3.1 (#130)
  .changeset/fuzzy-ears-buy.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: upgrade @types/dom-webcodecs from 0.1.11 to 0.1.13
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

breaking: v3 (wip)
  README.md
  biome.json
  package.json
  pnpm-lock.yaml
  src/core.ts
  src/index.ts
  src/polyfill.ts
  src/ponyfill.ts
  src/pure.ts
  src/side-effects.ts
  src/utils.ts
  tsconfig.json
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update README
  README.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
