Repository Sec-ant/barcode-detector: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v2.2.0 with some bug fixes (#187)
  .changeset/many-waves-admire.md
  biome.json
  package.json
  pnpm-lock.yaml
  scripts/build-cjs.ts
  scripts/build-iife.ts
  src/core.ts
  src/index.ts
  src/polyfill.ts
  src/utils.ts
  src/zxing-exported.ts
  tests/barcode-detector.spec.ts
  tests/polyfill.spec.ts
  tests/utils/getSvgImage.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v3.0.5 (#188)
  .changeset/many-waves-admire.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps and switch to OIDC trusted publishing
  .changeset/bright-boxes-tease.md
  .github/actions/setup/action.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps and switch to OIDC trusted publishing (#207)
  .changeset/bright-boxes-tease.md
  .github/actions/setup/action.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(utils): types
  src/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: vitest browser provider
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: no unhandled errors
  .changeset/olive-animals-relax.md
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: no unhandled errors (#221)
  .changeset/olive-animals-relax.md
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(entries): preview
  .changeset/angry-humans-stay.md
  package.json
  pnpm-lock.yaml
  src/core.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v2.2.4
  package.json
  pnpm-lock.yaml
  tests/barcode-detector.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: revert trace back to error
  src/core.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(entries): remove the usage of `Array.prototype.entries` (#226)
  .changeset/angry-humans-stay.md
  package.json
  pnpm-lock.yaml
  tests/barcode-detector.spec.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(deps): upgrade zxing-wasm to v3 with finer-grained format detection
  .changeset/light-views-sink.md
  README.md
  index.html
  package.json
  pnpm-lock.yaml
  src/core.ts
  src/utils.ts
  tests/index.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(deps): upgrade zxing-wasm to v3 with finer-grained format detection (#243)
  .changeset/light-views-sink.md
  README.md
  index.html
  package.json
  pnpm-lock.yaml
  src/core.ts
  src/utils.ts
  tests/index.html
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: reduce security alerts
  pnpm-lock.yaml
Due: prettier --write

chore: bump deps
  .changeset/olive-words-bake.md
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps and migrate to vite 8, typescript 6
  .changeset/warm-birds-learn.md
  .github/actions/setup/action.yml
  package.json
  pnpm-lock.yaml
  scripts/build-iife.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-wasm to v3.0.2 and other deps, migrate to vite 8, typescript 6 (#255)
  .changeset/warm-birds-learn.md
  .github/actions/setup/action.yml
  package.json
  pnpm-lock.yaml
  scripts/build-iife.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): bump dependencies and pnpm to v11
  .changeset/bump-deps-pnpm-11.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): bump dependencies and pnpm to v11 (#263)
  .changeset/bump-deps-pnpm-11.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(test): use internal static server and bump deps
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/globalSetup.ts
  tsconfig.node.json
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add support for new zxing 3.1 formats
  .changeset/add-zxing-31-formats.md
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(vite): stop copying public dir, fix chunks
  .changeset/clean-package-build-output.md
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): upgrade all dependencies to latest
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(ci): use standalone pnpm to avoid lockfile bootstrap incompatibility
  .github/actions/setup/action.yml
Due: prettier --write

fix(ci): replace pnpm/action-setup with corepack
  .github/actions/setup/action.yml
Due: prettier --write

fix(ci): use corepack + manual cache for pnpm setup
  .github/actions/setup/action.yml
Due: prettier --write

chore(ci): harden workflow security and reliability
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore: add changeset for zxing-wasm and dependency upgrades
  .changeset/bump-zxing-wasm-deps.md
Due: prettier --write

chore(deps): upgrade all dependencies to latest (#281)
  .changeset/bump-zxing-wasm-deps.md
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/utils.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  .changeset/modernize-dependencies.md
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps (#291)
  .changeset/modernize-dependencies.md
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,cts,mts,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier --write: any of: *.{md,yml,yaml,css,html}
